<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="starter-template.css" rel="stylesheet">
    <link href="fontawesome-all.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="container">
        <div class="row">
          {% for volume in volumes %}
          <div class="col" style="padding: 5px;">
              <div class="card">
                <div class="card-header text-center">
                  <i class="fa fa-database"></i> {{ volume.id }}<br>
                  {{ volume.routeTo.deliveryUrl }}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    {% for target in volume.announced %}
                      <nobr><i class="fas fa-server"></i> {{ target.server }}</nobr><br>
                        <nobr><i class="far fa-hdd"></i> {{ target.dev }}</nobr></li>
                    {% else %}
                      <i class="text-danger fas fa-exclamation-triangle"></i>
                    {% endfor %}
                    </li>
                </ul>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>

    <script src="jquery-3.2.1.slim.min.js"></script>
  </body>
</html>
